swagger: '2.0'
info:
 version: 1.0.0
 title: Solartis Rate API for Coverwallet
 description: To get rate for Profesional Liability from Solartis Rate API with ISO ERC.
host: cw.rc.solartis.net
basePath: /DroolsV6/DroolsService
schemes:
 - https
consumes:
 - application/json
produces:
 - application/json
paths:
 /FireEventV2:
  post:
   description: Get Rates for the given input
   operationId: getRates
   produces:
    - application/json
   parameters:
    -
     name: Token
     in: header
     description: Authentication Token
     required: true
     type: string
     format: string
     default: >-
      wisJ68G6P4bgO3hqkM6BwbXd6cgYsc01KgfOSveUuQS3PyZ6kCfcKaG85+mdN3z+5aeEkmZww9oTyqEwnvuy2zfGbVDDv47IpTINIQJO3ALD4o1eLRXloliRqK5FC76NCE8DXePm1sYvSCdiQSCRqvo14V7jWao9HjINVDki6Bb7l44VvcLa+myAyfEtag6q23gxq4hwCiKG6pa2odDOw8t36JXOCFv78Hmo6lO2UMgBx86J2Vg5koWCcn4zJq7bHKYiwZX5iYZbLR4IkFXMhCzUNlnQGGux5sgUAJLxin9wma91Zjlug+nzNtNsV8MApq0N3HgvER4Kt0QJUs20xqdKOUhhIRBkCsNU4I8mZNaYmPz0oZqVorHLesKHmBkNd2Qqij2sZE21Es6gcIeFREdUAYBmaYMj15apf5ZIP5i65Mm2KNLnDcO0MlfL6WuCnM38JBj8sv2ENthee06mlvu4sUBGl907F4Qe1TTHOGP+LJzSEPNIyg6YI52CHbijVBgWqRPmmo7c/PybNxBmEJTNb55OyzcQq3AE2FXb1Xlv0wj1dsc+VdYPyNWl9HTsVyDFhEIqSmM08VeG3n0xkkCaBQBALV1SMtyT15+R45N02jUkOZv3vJlExiNZnQ4/LLHRv6aimaE59VA0cnVRz+1PV5RHfJH4aj31g34/q6lDdYAnROCLore4OzWXR7x2U1V1yXU6VhL/QjsDNLKbq9cTnHnwtFh8T4gY8SqWSbRDxk5QTZEX9YKqWJo8q7kS5zjY1cmWNd3HwuD2oDeObndAg26aHopV4pzHV5ZdtuJUaW2b6HCQ8nE9j6Xt3rAs8hHyXYraP/0h+/vML14Us9j2NGaDfXLbPn6Txr+A8g8Ihe6i2XU61ZGKXBpyp4d6pPSg1Hu2pAVdOVgfanCgawZMcl+OdCwY0z3TDD7lXKKAV91JqJypO3BB1gTesr3ReFLaqpRfWkAUPxyHDQsA6nYYw5sSIkEcE+iEHOuj5rn7qRd8J02eyDh1dtz5BmzvS9B+z4HtJ+aE3RaPLLZ3JLKlr+ItR2J0xpC5S+Qba2b171fUMsrYe+JHjTjnPGHSFvek/9q2EttByaXbCge9TX7Rg7t+cCd3HI/haCWrp58CwrjHhLKQvDpClAYA/P7isH+9DmLPl/qMoPGxKRmot8LSKaxGjgYqJ6qCanCRPItK2QjSw5bvRbUIYmTe9AbnqrUk/QEkntnWwCIir9kxBejvgTIjB1MsQq8LhlAeYcXQFoY8nH1Ce46yEGZ2B6v9yuC94h2CeqIzd3QLTKWWHGYETWXNB1LFf1L+9tSaUdh3sL6feJI2eWZk6nxAeUWKsFGJITGCztEEj+cTdU0eHbHESYsAoSADGJyjbUJz/vO5rzobP2kw9oX0hFIiGU4rPNSaxdq0rCE+x4KGFE0IcSgsn/dKHgaroYvUgeJRqGXLGwjylh7LECGmTxQX+8KRCl+W3omuzhLlksUzw2TJH8N8ri5JZ8sUkEycgt1vRKcy4pL0tl+xup/zB/VpBaSDic7cgBVzzrXyj3UL6auGikiQk+4USnXd3cM47biVowgEscqWvbe8tSxQLLx04H62Umug7tzvFnZca3e5Zu55cPII/9EYVmPTgf8PWKVt8KHJlqd9JYhQX8L+gZoPrbPO3MfG+Zx69LwfysREBHqAI4LRUiIHOgla1Dx6Iaya7afJke1Kj8e1khArYC9y3bQDj9J1r58wag+/HK7NrkAJOEkcTRhlwQoAD9UW9SD3/IawhJ1Ak1qim+W4cLJOf3Gd09Mfo7z1ybszqusaERNmlKMscas+PtgrbBt3MxyoaUeVgeaVUywiSD5ZZ8UQ9xFfTFY1ffVXVPw2aRhg7ictiTbMisltMeb0pBBFWRzVh34uZ5rx3DNQtXIuwxRAoEnItndkUD/hFW6Ba4Eda//4pbETnn0w/wOVljZW5gcFnRrQQabA33ijshDmsGNvQ2tnZKhGdlcP9bKlpibRtvCSWFRKbJY0Geo/tp5YPqMC5zNzMVlQlrlHQaQ2zmiSqhytiJ6XuS3F9f40HGZugA/QrIhjG3g/TOdyxXm3ux/nzRCNsLWRTYUjQD9RK7dXHt6hEs4yn0PpBkDgDL75cH56+JkPCC48XTDA2U1Ge8b4sWwdvJPQU6Wk6pY/atiZG+vNjiBACLnHLicfu7WATouzG18ssKQP6GAU9rpSO8L0Ud9ZjfgCZJcwpMkrFXpotf5c80LqIwYD3Tf8gXRKCUg2Qlvjf1nxkzpQKKcpwsXXAq5AsLBLhTZbtkhPWh/VnAkgXuosZtKbMPUv2Tvgow/mvS+hSx8AFPFYdDKgsaKhbgTOjVV+SMDlkm1neeDVqNk6ZZEwoy6sa1VWkxzU5mJaEUA0bFSA4DdbwtA0rzgKSPd+dmZeUfuBvHr4TOpI57Nrq/equPuETdYtcJf/nEKZ7AyGEPx45XfSfuKiD4NTkVvloWgDmt4xSQCTKRSX0v/LpSJVsQvEEROlkmHRATi+vXXQhwmDZALPdMq6GXwSzKYFl5w/3r+0a12mMCsjqnj9lfx/FsggvPWKyKINnTN31aoac0df1cTW97I1bcBbzoE4fBgh+zdl6XkYnHrmvStaksf8gNECzmj2WEFb5biAAq5XB7IkI7rFaPFBVHJzO1yXqh5W6SV7tewfak9B0HdxH4SRFHvoy3Dfp0vxYte/pm07rm9x8SXN25CJOpDKn50c0wgmpagGJbXzuJvtWZkg
    -
     name: EventName
     in: header
     description: Name of the event to be invoked
     required: true
     type: string
     format: string
     default: PLICalculateRate
    -
     name: EventVersion
     in: header
     description: Name of the event to be invoked
     required: true
     type: string
     format: string
     default: 2.2.2.1
    -
     name: Rating
     in: body
     description: Rating content
     required: true
     schema:
      $ref: '#/definitions/Rating_Request'
   responses:
    '200':
     description: Success Response
     schema:
      $ref: '#/definitions/Rating_Success_Response'
    default:
     description: unexpected error
     schema:
      $ref: '#/definitions/errorModel'
definitions:
 Rating_Request:
  type: object
  required:
   - ServiceRequestDetail
   - Policy
  properties:
   EndClientUserUniqueSessionId:
    type: string
    default: Uniquesession
   EndClientUserBrowserSessionId:
    type: string
   EndClientUserBrowserInformation:
    type: string
   PaaSClientIPAddress:
    type: string
   ClientUniqueRequestID:
    type: string
   ServiceRequestDetail:
    type: object
    properties:
     OwnerId:
      type: string
      default: '27'
     ResponseType:
      type: string
      enum:
       - JSON
       - XML
      default: JSON
     UserName:
      type: string
      default: CWAgent
     Token:
      type: string
      default: >-
       wisJ68G6P4bgO3hqkM6BwbXd6cgYsc01KgfOSveUuQS3PyZ6kCfcKaG85+mdN3z+5aeEkmZww9oTyqEwnvuy2zfGbVDDv47IpTINIQJO3ALD4o1eLRXloliRqK5FC76NCE8DXePm1sYvSCdiQSCRqvo14V7jWao9HjINVDki6Bb7l44VvcLa+myAyfEtag6q23gxq4hwCiKG6pa2odDOw8t36JXOCFv78Hmo6lO2UMgBx86J2Vg5koWCcn4zJq7bHKYiwZX5iYZbLR4IkFXMhCzUNlnQGGux5sgUAJLxin9wma91Zjlug+nzNtNsV8MApq0N3HgvER4Kt0QJUs20xqdKOUhhIRBkCsNU4I8mZNaYmPz0oZqVorHLesKHmBkNd2Qqij2sZE21Es6gcIeFREdUAYBmaYMj15apf5ZIP5i65Mm2KNLnDcO0MlfL6WuCnM38JBj8sv2ENthee06mlvu4sUBGl907F4Qe1TTHOGP+LJzSEPNIyg6YI52CHbijVBgWqRPmmo7c/PybNxBmEJTNb55OyzcQq3AE2FXb1Xlv0wj1dsc+VdYPyNWl9HTsVyDFhEIqSmM08VeG3n0xkkCaBQBALV1SMtyT15+R45N02jUkOZv3vJlExiNZnQ4/LLHRv6aimaE59VA0cnVRz+1PV5RHfJH4aj31g34/q6lDdYAnROCLore4OzWXR7x2U1V1yXU6VhL/QjsDNLKbq9cTnHnwtFh8T4gY8SqWSbRDxk5QTZEX9YKqWJo8q7kS5zjY1cmWNd3HwuD2oDeObndAg26aHopV4pzHV5ZdtuJUaW2b6HCQ8nE9j6Xt3rAs8hHyXYraP/0h+/vML14Us9j2NGaDfXLbPn6Txr+A8g8Ihe6i2XU61ZGKXBpyp4d6pPSg1Hu2pAVdOVgfanCgawZMcl+OdCwY0z3TDD7lXKKAV91JqJypO3BB1gTesr3ReFLaqpRfWkAUPxyHDQsA6nYYw5sSIkEcE+iEHOuj5rn7qRd8J02eyDh1dtz5BmzvS9B+z4HtJ+aE3RaPLLZ3JLKlr+ItR2J0xpC5S+Qba2b171fUMsrYe+JHjTjnPGHSFvek/9q2EttByaXbCge9TX7Rg7t+cCd3HI/haCWrp58CwrjHhLKQvDpClAYA/P7isH+9DmLPl/qMoPGxKRmot8LSKaxGjgYqJ6qCanCRPItK2QjSw5bvRbUIYmTe9AbnqrUk/QEkntnWwCIir9kxBejvgTIjB1MsQq8LhlAeYcXQFoY8nH1Ce46yEGZ2B6v9yuC94h2CeqIzd3QLTKWWHGYETWXNB1LFf1L+9tSaUdh3sL6feJI2eWZk6nxAeUWKsFGJITGCztEEj+cTdU0eHbHESYsAoSADGJyjbUJz/vO5rzobP2kw9oX0hFIiGU4rPNSaxdq0rCE+x4KGFE0IcSgsn/dKHgaroYvUgeJRqGXLGwjylh7LECGmTxQX+8KRCl+W3omuzhLlksUzw2TJH8N8ri5JZ8sUkEycgt1vRKcy4pL0tl+xup/zB/VpBaSDic7cgBVzzrXyj3UL6auGikiQk+4USnXd3cM47biVowgEscqWvbe8tSxQLLx04H62Umug7tzvFnZca3e5Zu55cPII/9EYVmPTgf8PWKVt8KHJlqd9JYhQX8L+gZoPrbPO3MfG+Zx69LwfysREBHqAI4LRUiIHOgla1Dx6Iaya7afJke1Kj8e1khArYC9y3bQDj9J1r58wag+/HK7NrkAJOEkcTRhlwQoAD9UW9SD3/IawhJ1Ak1qim+W4cLJOf3Gd09Mfo7z1ybszqusaERNmlKMscas+PtgrbBt3MxyoaUeVgeaVUywiSD5ZZ8UQ9xFfTFY1ffVXVPw2aRhg7ictiTbMisltMeb0pBBFWRzVh34uZ5rx3DNQtXIuwxRAoEnItndkUD/hFW6Ba4Eda//4pbETnn0w/wOVljZW5gcFnRrQQabA33ijshDmsGNvQ2tnZKhGdlcP9bKlpibRtvCSWFRKbJY0Geo/tp5YPqMC5zNzMVlQlrlHQaQ2zmiSqhytiJ6XuS3F9f40HGZugA/QrIhjG3g/TOdyxXm3ux/nzRCNsLWRTYUjQD9RK7dXHt6hEs4yn0PpBkDgDL75cH56+JkPCC48XTDA2U1Ge8b4sWwdvJPQU6Wk6pY/atiZG+vNjiBACLnHLicfu7WATouzG18ssKQP6GAU9rpSO8L0Ud9ZjfgCZJcwpMkrFXpotf5c80LqIwYD3Tf8gXRKCUg2Qlvjf1nxkzpQKKcpwsXXAq5AsLBLhTZbtkhPWh/VnAkgXuosZtKbMPUv2Tvgow/mvS+hSx8AFPFYdDKgsaKhbgTOjVV+SMDlkm1neeDVqNk6ZZEwoy6sa1VWkxzU5mJaEUA0bFSA4DdbwtA0rzgKSPd+dmZeUfuBvHr4TOpI57Nrq/equPuETdYtcJf/nEKZ7AyGEPx45XfSfuKiD4NTkVvloWgDmt4xSQCTKRSX0v/LpSJVsQvEEROlkmHRATi+vXXQhwmDZALPdMq6GXwSzKYFl5w/3r+0a12mMCsjqnj9lfx/FsggvPWKyKINnTN31aoac0df1cTW97I1bcBbzoE4fBgh+zdl6XkYnHrmvStaksf8gNECzmj2WEFb5biAAq5XB7IkI7rFaPFBVHJzO1yXqh5W6SV7tewfak9B0HdxH4SRFHvoy3Dfp0vxYte/pm07rm9x8SXN25CJOpDKn50c0wgmpagGJbXzuJvtWZkg
     BrowserIp:
      type: string
      default: 127.0.0.1
     ServiceRequestVersion:
      type: string
      default: '1.0'
     RegionCode:
      type: string
      default: US
   Policy:
    type: object
    required:
     - ProgramName
     - PolicyType
     - ZipCode
     - State
     - EventName
     - EventVersion
     - NumOfProviders
     - SharedOrSeparateLimit
     - PLOrWLCoverageType
     - ProfessionalLiabilityLimitsOfInsurance
     - WorkplaceLiabilityInsurance
     - CorporationOrPartnershipCoverage
     - EmploymentCategory
     - EffectiveDate
    properties:
     ProgramName:
      title: Program Name
      type: string
      enum:
       - Healthcare
       - Non Healthcare
       - ASID
     PolicyType:
      title: Policy Type
      type: string
      enum:
       - Individual
       - Group
     ZipCode:
      title: Zip Code
      type: string
     State:
      title: State
      type: string
      enum:
       - AL
       - AK
       - AR
       - AZ
       - CA
       - CO
       - CT
       - DC
       - DE
       - FL
       - GA
       - HI
       - IA
       - ID
       - IL
       - IN
       - KS
       - KY
       - LA
       - MA
       - MD
       - ME
       - MI
       - MN
       - MO
       - MS
       - MT
       - NC
       - ND
       - NE
       - NH
       - NJ
       - NM
       - NV
       - OH
       - OK
       - OR
       - PA
       - RI
       - SC
       - SD
       - TN
       - TX
       - UT
       - VT
       - WA
       - WI
       - WV
       - WY
       - VA
     EffectiveDate:
      title: Effective Date
      type: string
     EventName:
      title: Event Name
      type: string
      default: PLICalculateRate
     EventVersion:
      title: Event Version
      type: string
      default: 2.2.2.1
     ApplicableFromDate:
      title: Applicable From Date
      type: string
      default: ''
     NumOfProviders:
      title: Number of Providers
      type: string
     SharedOrSeparateLimit:
      title: Shared or Separate Limit
      type: string
      enum:
       - Shared
       - Separate
     PLOrWLCoverageType:
      title: Coverage Type
      type: string
      enum:
       - Claims-Made
       - Occurrence
       - PL Claims-Made and WL Occurrence
     ProfessionalLiabilityLimitsOfInsurance:
      title: ProfessionalLiability Limit of Insurance
      type: string
      enum:
       - $1M/$3M
       - $1M/$5M
       - $1M/$6M
       - $2M/$4M
       - $2M/$5M
       - $2M/$6M
       - $2.3M/$6.9M
       - $2.35M/$7.05M
       - $2.4M/$7.2M
       - $2.45M/$7.35M
       - $2.5M/$7.5M
       - $2.55M/$7.65M
       - $2.6M/$7.8M
       - $2.65M/$7.95M
       - $2.7M/$8.1M
       - $2.75M/$8.25M
       - $2.8M/$8.4M
       - $2.85M/$8.55M
       - $2.9M/$8.7M
       - $2.95M/$8.85M
       - $3M/$9M
       - $250K/$750K
       - $400K/$1.2M
       - $500K/$1.5M
       - $200K/$600K
       - $100K/$300K
       - $100K
       - $250K
       - $500K
       - $1M
       - $2M
       - $3M
       - $4M
       - $5M
       - $6M
       - $7M
       - $8M
       - $9M
       - $10M
       - $25K/$25K
       - $50K/$50K
       - $100K/$100K
       - $250K/$250K
       - $500K/$500K
       - $750K/$750K
       - $1M/$1M
     WorkplaceLiabilityLimitsOfInsurance:
      title: WorkplaceLiability Limit of Insurance
      type: string
      enum:
       - $1M/$3M
       - $1M/$5M
       - $1M/$6M
       - $2M/$4M
       - $2M/$5M
       - $2M/$6M
       - $200K/$600K
       - $2.3M/$6.9M
       - $2.35M/$7.05M
       - $2.4M/$7.2M
       - $2.45M/$7.35M
       - $2.5M/$7.5M
       - $2.55M/$7.65M
       - $2.6M/$7.8M
       - $2.65M/$7.95M
       - $2.7M/$8.1M
       - $2.75M/$8.25M
       - $2.8M/$8.4M
       - $2.85M/$8.55M
       - $2.9M/$8.7M
       - $2.95M/$8.85M
       - $3M/$9M
     WorkplaceLiabilityInsurance:
      title: Workplace Liability Insurance
      type: string
      enum:
       - 'Yes'
       - 'No'
     CorporationOrPartnershipCoverage:
      title: Corporation or Partnership Coverage
      type: string
      enum:
       - 'Yes'
       - 'No'
     AdditionalInsuredCoverage:
      title: Additional Insured Coverage
      type: string
      enum:
       - 'Yes'
       - 'No'
     EmploymentCategory:
      title: Employment Category
      type: string
      enum:
       - Employed
       - Self-Employed
     TransitionFactor:
      title: Transition Factor
      type: string
     ProductNumber:
      title: Product Number
      type: string
      default: HC_PLI
     ProductVerNumber:
      title: Product Version Number
      type: string
      default: '2.0'
     ExpensesInsideOrOutside:
      title: Expenses Inside Or Outside
      type: string
      enum:
       - Select one
       - Inside
       - Outside
     DeductibleAmount:
      title: Deductible Amount
      type: string
      enum:
       - '0'
       - '500'
       - '1000'
       - '2500'
       - '5000'
       - '7500'
       - '10000'
     NumberOfClaimsinPast5Yrs:
      title: Number Of Claims in Past 5Yrs
      type: string
     TotalReportedIncurredLossandExpense:
      title: Total Reported Incurred Loss and Expense
      type: string
     RetroDate:
      title: Retro Date
      type: string
      enum:
       - Select One
       - Inception
       - Full Prior Acts
       - Date
     Revenue:
      title: Revenue
      type: string
     ResidentialOrCommercialBusinessModifier:
      title: Residential Or Commercial Business Modifier
      type: string
     ProjectSizeModifier:
      title: Project Size Modifier
      type: string
     WrittenContractsModifier:
      title: Written Contracts Modifier
      type: string
     RiskManagementModifier:
      title: Risk Management Modifier
      type: string
     FinancialStrength:
      title: Financial Strength
      type: string
     UseofSubcontractors:
      title: Use of Subcontractors
      type: string
     HistoryofDisciplinaryAction:
      title: History of Disciplinary Action
      type: string
     MergersandAcquisitions:
      title: Mergers and Acquisitions
      type: string
     ExperienceofPrincipals:
      title: Experience of Principals
      type: string
     ClientSize:
      title: Client Size
      type: string
     RequireSubstoShowProofOfEAndO:
      title: Require Subs to Show Proof Of E And O
      type: string
     RequireAandEstoShowProofOfEandO:
      title: Require A and E s to Show Proof Of E and O
      type: string
     KYLocalGovernmentTaxRate:
      title: KY Local Government Tax Rate
      type: string
     KYLocalGovernmentTaxOverridden:
      title: KY Local Government Tax Overridden
      type: string
      enum:
       - 'Yes'
       - 'No'
     Provider:
      type: array
      items:
       properties:
        ProviderDetail:
         type: object
         required:
          - ProviderClass
          - ProfessionalAssociation
          - YearsInPractice
          - HoursWorkPerWeek
         properties:
          FirstName:
           title: First Name
           type: string
          MiddleInitial:
           title: Middle Initial
           type: string
           default: ''
          LastName:
           title: Last Name
           type: string
          ProviderClass:
           title: Provider Class
           type: string
           enum:
            - Athletic Trainer
            - Audiologist (excluding IONM)
            - Biomedical Technician/Technologist
            - Blood Bank Technician/Technologist
            - Cardiology Technician/Technologist
            - Certified Fitness Professional
            - Certified Lab Technician/Technologist
            - Certified Medical Assistant
            - Clinical Lab Technician/Technologist
            - Community Health Assistant
            - Community Health Technician/Technologist
            - Counselor
            - Diagnostic Medical Sonographer
            - Dialysis Technician/Technologist
            - Dietitian / Nutritionist
            - EEG Technician/Technologist
            - EKG Technician/Technologist
            - Electrologist
            - EMT - Basic / Intermediate
            - EMT - Paramedic
            - EMT - Volunteer
            - Hearing Therapis
            - Histologic Technician/Technologist
            - Licensed Practical Nurse
            - Licensed Vocational Nurse
            - Marriage / Family Therapist
            - Medical Assistant
            - Medical Laboratory Technician/Technologist
            - Medical Records Administrator
            - Medical Records Technician/Technologist
            - Medical Technician - NOC
            - Medical Technician/Technologist Assistant - NOC
            - Medical Technologist - NOC
            - Non-certified
            - Fitness Professional
            - Nuclear Medical Technician/Technologist
            - Occupational Therapist
            - Occupational Therapy Assistant
            - Ophthalmic Technologist
            - Optician
            - Optometric Technician
            - Optometrist
            - Orthopedic Technician
            - Orthotist / Prosthetist
            - Pathology Assistant
            - Pharmacist
            - Pharmacy Technician
            - Phlebotomist
            - Physical Therapist
            - Physical Therapy Assistant
            - Polysomnographic Sleep Technician
            - Psychologist
            - Radiation Therapist
            - Radiology Technician/Technologist
            - Registered Nurse
            - Respiratory Therapist
            - Respiratory Therapy Assistant / Technician / Technologist
            - Social Worker
            - Sonographic Technician/Technologist
            - Speech Pathologist
            - Speech Therapist
            - Surgical Technician/Technologist
            - X-Ray Machine Technician/Technologist
            - Yoga / Pilates Instructor
            - Advertising Agency
            - Answering service non-emergency
            - Arbitrator/Mediator
            - Auctioneer
            - Barber
            - Beautician
            - Bookkeepers
            - Call Centers
            - Charm school
            - Claims Adjustor
            - Coin/gem/art dealer
            - Computer and Mobile Device Repair
            - Computer Training
            - Concierge
            - Convention Managers
            - Cosmetologist
            - Court Reporter
            - Custom Software Development
            - 'Data processor '
            - Education consultant
            - Employee Screener
            - Employment Agent Temp/Perm
            - Energy Efficiency/Weatherization Consultant
            - Event Planner
            - Executive Recruiter
            - Exhibit Designer
            - Fundraising Consultant
            - Grant writing
            - Graphic Designer
            - Human Resource Consultant
            - Information Technology Independent Contractors
            - Interior designer/decorator
            - 'Interpreter/Translator '
            - IT Staffing Firms
            - Landscape architect (non-structural)
            - Leasing agent/broker
            - Management Consultant
            - Manicurist
            - Market Researcher
            - Marketing Consultant
            - Meeting Planner
            - Notary
            - Off The Shelf Software Development
            - Organizational Behavior Consultant
            - Pet groomer
            - Pet instructor/trainer
            - Photographers
            - Process Server
            - Property Manager Residential/Commercial
            - Public Relations Consultant
            - Real Estate Agent/Broker Residential
            - Relocation Agent
            - Resume service
            - Tax prep (non CPA)
            - Technology Consulting/IT Project Management
            - Telecommunications Consultant
            - Test administrator
            - Training Consultant
            - Travel Agent
            - Tutor
            - Typing service
            - Web Design
            - Pet Daycare
            - Pet Boarding
            - Dog Walking
          ProfessionalAssociation:
           title: Professional Association
           type: string
           enum:
            - Licensed
            - Student
          YearsOfPolicy:
           title: Years of Policy
           type: string
           default: '1'
           enum:
            - '1'
            - '2'
            - '3'
            - '4'
            - 4+
          YearsInPractice:
           title: Years In Practice
           type: string
           enum:
            - '1'
            - '2'
            - 2+
          RiskManagementDiscount:
           title: Risk Management Discount
           type: string
           enum:
            - 'Yes'
            - 'No'
          PatientCompensationFund:
           title: Patient Compensation Fund
           type: string
           enum:
            - 'Yes'
            - 'No'
          HoursWorkPerWeek:
           title: Hours Work Per Week
           type: string
          ScheduleRatingFactor:
           title: Schedule Rating Factor
           type: string
          ProviderEmailId:
           title: Provider Email ID
           type: string
          MeetsStudentQualification:
           title: Meets Student Qualification
           type: string
           enum:
            - 'Yes'
            - 'No'
          UseofWrittenContractsFactor:
           title: Use of Written Contracts Factor
           type: string
          TrainingorEducationFactor:
           title: Training or Education Factor
           type: string
          ProfessionalReputationFactor:
           title: Professional Reputation Factor
           type: string
          NatureofOperationsFactor:
           title: Nature of Operations Factor
           type: string
   OwnerId:
    type: string
    default: '27'
 Rating_Success_Response:
  type: object
  required:
   - ServiceRequestDetail
   - Policy
  properties:
   OwnerId:
    type: string
    default: '27'
   EndClientUserUniqueSessionId:
    type: string
    default: Uniquesession
   EndClientUserBrowserSessionId:
    type: string
    default: 7Eadfad4444
   EndClientUserBrowserInformation:
    type: string
    default: Mozilla/...
   PaaSClientIPAddress:
    type: string
    default: 125.25.25.2
   ClientUniqueRequestID:
    type: string
    default: ''
   ServiceRequestDetail:
    type: object
    properties:
     ResponseType:
      type: string
      enum:
       - JSON
       - XML
      default: JSON
     UserName:
      type: string
      default: CWAgent
     Token:
      type: string
      default: >-
       wisJ68G6P4bgO3hqkM6BwbXd6cgYsc01KgfOSveUuQS3PyZ6kCfcKaG85+mdN3z+5aeEkmZww9oTyqEwnvuy2zfGbVDDv47IpTINIQJO3ALD4o1eLRXloliRqK5FC76NCE8DXePm1sYvSCdiQSCRqvo14V7jWao9HjINVDki6Bb7l44VvcLa+myAyfEtag6q23gxq4hwCiKG6pa2odDOw8t36JXOCFv78Hmo6lO2UMgBx86J2Vg5koWCcn4zJq7bHKYiwZX5iYZbLR4IkFXMhCzUNlnQGGux5sgUAJLxin9wma91Zjlug+nzNtNsV8MApq0N3HgvER4Kt0QJUs20xqdKOUhhIRBkCsNU4I8mZNaYmPz0oZqVorHLesKHmBkNd2Qqij2sZE21Es6gcIeFREdUAYBmaYMj15apf5ZIP5i65Mm2KNLnDcO0MlfL6WuCnM38JBj8sv2ENthee06mlvu4sUBGl907F4Qe1TTHOGP+LJzSEPNIyg6YI52CHbijVBgWqRPmmo7c/PybNxBmEJTNb55OyzcQq3AE2FXb1Xlv0wj1dsc+VdYPyNWl9HTsVyDFhEIqSmM08VeG3n0xkkCaBQBALV1SMtyT15+R45N02jUkOZv3vJlExiNZnQ4/LLHRv6aimaE59VA0cnVRz+1PV5RHfJH4aj31g34/q6lDdYAnROCLore4OzWXR7x2U1V1yXU6VhL/QjsDNLKbq9cTnHnwtFh8T4gY8SqWSbRDxk5QTZEX9YKqWJo8q7kS5zjY1cmWNd3HwuD2oDeObndAg26aHopV4pzHV5ZdtuJUaW2b6HCQ8nE9j6Xt3rAs8hHyXYraP/0h+/vML14Us9j2NGaDfXLbPn6Txr+A8g8Ihe6i2XU61ZGKXBpyp4d6pPSg1Hu2pAVdOVgfanCgawZMcl+OdCwY0z3TDD7lXKKAV91JqJypO3BB1gTesr3ReFLaqpRfWkAUPxyHDQsA6nYYw5sSIkEcE+iEHOuj5rn7qRd8J02eyDh1dtz5BmzvS9B+z4HtJ+aE3RaPLLZ3JLKlr+ItR2J0xpC5S+Qba2b171fUMsrYe+JHjTjnPGHSFvek/9q2EttByaXbCge9TX7Rg7t+cCd3HI/haCWrp58CwrjHhLKQvDpClAYA/P7isH+9DmLPl/qMoPGxKRmot8LSKaxGjgYqJ6qCanCRPItK2QjSw5bvRbUIYmTe9AbnqrUk/QEkntnWwCIir9kxBejvgTIjB1MsQq8LhlAeYcXQFoY8nH1Ce46yEGZ2B6v9yuC94h2CeqIzd3QLTKWWHGYETWXNB1LFf1L+9tSaUdh3sL6feJI2eWZk6nxAeUWKsFGJITGCztEEj+cTdU0eHbHESYsAoSADGJyjbUJz/vO5rzobP2kw9oX0hFIiGU4rPNSaxdq0rCE+x4KGFE0IcSgsn/dKHgaroYvUgeJRqGXLGwjylh7LECGmTxQX+8KRCl+W3omuzhLlksUzw2TJH8N8ri5JZ8sUkEycgt1vRKcy4pL0tl+xup/zB/VpBaSDic7cgBVzzrXyj3UL6auGikiQk+4USnXd3cM47biVowgEscqWvbe8tSxQLLx04H62Umug7tzvFnZca3e5Zu55cPII/9EYVmPTgf8PWKVt8KHJlqd9JYhQX8L+gZoPrbPO3MfG+Zx69LwfysREBHqAI4LRUiIHOgla1Dx6Iaya7afJke1Kj8e1khArYC9y3bQDj9J1r58wag+/HK7NrkAJOEkcTRhlwQoAD9UW9SD3/IawhJ1Ak1qim+W4cLJOf3Gd09Mfo7z1ybszqusaERNmlKMscas+PtgrbBt3MxyoaUeVgeaVUywiSD5ZZ8UQ9xFfTFY1ffVXVPw2aRhg7ictiTbMisltMeb0pBBFWRzVh34uZ5rx3DNQtXIuwxRAoEnItndkUD/hFW6Ba4Eda//4pbETnn0w/wOVljZW5gcFnRrQQabA33ijshDmsGNvQ2tnZKhGdlcP9bKlpibRtvCSWFRKbJY0Geo/tp5YPqMC5zNzMVlQlrlHQaQ2zmiSqhytiJ6XuS3F9f40HGZugA/QrIhjG3g/TOdyxXm3ux/nzRCNsLWRTYUjQD9RK7dXHt6hEs4yn0PpBkDgDL75cH56+JkPCC48XTDA2U1Ge8b4sWwdvJPQU6Wk6pY/atiZG+vNjiBACLnHLicfu7WATouzG18ssKQP6GAU9rpSO8L0Ud9ZjfgCZJcwpMkrFXpotf5c80LqIwYD3Tf8gXRKCUg2Qlvjf1nxkzpQKKcpwsXXAq5AsLBLhTZbtkhPWh/VnAkgXuosZtKbMPUv2Tvgow/mvS+hSx8AFPFYdDKgsaKhbgTOjVV+SMDlkm1neeDVqNk6ZZEwoy6sa1VWkxzU5mJaEUA0bFSA4DdbwtA0rzgKSPd+dmZeUfuBvHr4TOpI57Nrq/equPuETdYtcJf/nEKZ7AyGEPx45XfSfuKiD4NTkVvloWgDmt4xSQCTKRSX0v/LpSJVsQvEEROlkmHRATi+vXXQhwmDZALPdMq6GXwSzKYFl5w/3r+0a12mMCsjqnj9lfx/FsggvPWKyKINnTN31aoac0df1cTW97I1bcBbzoE4fBgh+zdl6XkYnHrmvStaksf8gNECzmj2WEFb5biAAq5XB7IkI7rFaPFBVHJzO1yXqh5W6SV7tewfak9B0HdxH4SRFHvoy3Dfp0vxYte/pm07rm9x8SXN25CJOpDKn50c0wgmpagGJbXzuJvtWZkg
     BrowserIp:
      type: string
      default: 127.0.0.1
     ServiceRequestVersion:
      type: string
      default: '1.0'
     RegionCode:
      type: string
      default: US
   Policy:
    type: object
    properties:
     ProgramName:
      title: Program Name
      type: string
     PolicyType:
      title: Policy Type
      type: string
     ZipCode:
      title: Zip Code
      type: string
     State:
      title: State
      type: string
     EffectiveDate:
      title: Effective Date
      type: string
     EventName:
      title: Event Name
      type: string
     EventVersion:
      title: Event Version
      type: string
     ApplicableFromDate:
      title: Applicable From Date
      type: string
     NumOfProviders:
      title: Number of Providers
      type: string
     SharedOrSeparateLimit:
      title: Shared or Separate Limit
      type: string
     PLOrWLCoverageType:
      title: Coverage Type
      type: string
     ProfessionalLiabilityLimitsOfInsurance:
      title: Professional Liability Limit of Insurance
      type: string
     WorkplaceLiabilityLimitsOfInsurance:
      title: Workplace Liability Limit of Insurance
      type: string
     TransitionFactor:
      title: Transition Factor
      type: string
     WorkplaceLiabilityInsurance:
      title: Workplace Liability Insurance
      type: string
     CorporationOrPartnershipCoverage:
      title: Corporation or Partnership Coverage
      type: string
     AdditionalInsuredCoverage:
      title: Additional Insured Coverage
      type: string
     EmploymentCategory:
      title: Employment Category
      type: string
     AdditionalInsuredCoveragePremium:
      type: string
     Territory:
      type: string
     WorkplaceLiabilityStepFactor:
      type: string
     ProfessionalLiabilityIncreasedLimitFactor:
      type: string
     TerritoryRelativityFactor:
      type: string
     SharedSeparateCredit:
      type: string
     SharedSeparateCreditCap:
      type: string
     GroupDiscountFactor:
      type: string
     EntityCoveragePremium:
      type: string
     WorkplaceLiabilityBaseRate:
      type: string
     ASIDBaseRate:
      type: string
     WorkplaceLiabilityCoveragePremium:
      type: string
     ProfessionalLiabilityCoveragePremium:
      type: string
     TotalProviderPremium:
      type: string
     BasePremium:
      type: string
     Premium:
      type: string
     TotalTFSAmount:
      type: string
     ProductNumber:
      title: Product Number
      type: string
     ProductVerNumber:
      title: Product Version Number
      type: string
     Environment:
      title: Environment
      type: string
     ExpensesInsideOrOutside:
      title: Expenses Inside Or Outside
      type: string
     DeductibleAmount:
      type: string
     NumberOfClaimsinPast5Yrs:
      type: string
     TotalReportedIncurredLossandExpense:
      type: string
     RetroDate:
      type: string
     Revenue:
      type: string
     ResidentialOrCommercialBusinessModifier:
      type: string
     ProjectSizeModifier:
      type: string
     WrittenContractsModifier:
      type: string
     RiskManagementModifier:
      type: string
     FinancialStrength:
      type: string
     UseofSubcontractors:
      type: string
     HistoryofDisciplinaryAction:
      type: string
     MergersandAcquisitions:
      type: string
     ExperienceofPrincipals:
      type: string
     ClientSize:
      type: string
     RequireSubstoShowProofOfEAndO:
      type: string
     RequireAandEstoShowProofOfEandO:
      type: string
     ExperienceRatingFactor:
      type: string
     RevenueFactor:
      type: string
     DeductibleFactor:
      type: string
     LossHistoryFactor:
      type: string
     ResidentialCommercialBusinessModifierFactor:
      type: string
     ProjectSizeModifierFactor:
      type: string
     WrittenContractsModifierFactor:
      type: string
     RiskManagementModifierFactor:
      type: string
     IRPM:
      type: string
     KYLocalGovernmentTaxOverridden:
      title: KY Local Government Tax Overridden
     KYLocalGovernmentTaxRate:
      title: KY Local Government Tax Rate
     PatientCompensationFundProfessionalLiabilitySurcharge:
      title: Patient Compensation Fund Professional Liability Surcharge
      type: string
     TFSList:
      type: array
      items:
       properties:
        TFSDetail:
         type: object
         properties:
          TFSName:
           title: TFS Name
           type: string
          TFSType:
           title: TFS Type
           type: string
          TFSRate:
           title: TFS Rate
           type: string
          TFSAmount:
           title: TFS Amount
           type: string
          TFSAppliedDate:
           title: TFScAppliedDate
           type: string
          TFSDescription:
           title: TFS Description
           type: string
          TFSCode:
           title: TFS Code
           type: string
     Provider:
      type: array
      items:
       properties:
        ProviderDetail:
         type: object
         properties:
          FirstName:
           title: First Name
           type: string
          MiddleInitial:
           title: Middle Initial
           type: string
          LastName:
           title: Last Name
           type: string
          ProviderEmailId:
           title: Provider Email ID
           type: string
          ProviderClass:
           title: Provider Class
           type: string
          ProfessionalAssociation:
           title: Professional Association
           type: string
          YearsOfPolicy:
           title: Years of Policy
           type: string
          YearsInPractice:
           title: Years Of Practice
           type: string
          HoursWorkPerWeek:
           title: Hours Work Per Week
           type: string
          ScheduleRatingFactor:
           type: string
          RiskManagementDiscount:
           type: string
          PatientCompensationFund:
           type: string
          ProfessionalLiabilityBaseRate:
           type: string
          ProfessionalLiabilityIncreasedLimitFactor:
           type: string
          ProfessionalLiabilityStepFactor:
           type: string
          StudentDiscountFactor:
           type: string
          NewProviderDiscountFactor:
           type: string
          PartTimeDiscountFactor:
           type: string
          TotalCappedCredits:
           type: string
          RiskManagementCredit:
           type: string
          ProfessionalLiabilityCoveragePremium:
           type: string
          CoverageFee:
           type: string
          PatientCompensationFundSurcharge:
           type: string
          MeetsStudentQualification:
           type: string
          UseofWrittenContractsFactor:
           type: string
          TrainingorEducationFactor:
           type: string
          ProfessionalReputationFactor:
           type: string
          NatureofOperationsFactor:
           type: string
          CappedDiscountFactor:
           type: string
 errorModel:
  type: object
  required:
   - RequestStatus
   - MessageDetail
  properties:
   RequestStatus:
    type: string
   MessageDetail:
    type: object
    properties:
     MessageCode:
      type: string
     MessageType:
      type: string
     UserMessage:
      type: string
     MessageLevel:
      type: string
     MessageSeverity:
      type: string
     MessageList:
      type: object
      properties:
       Message:
        type: array
        items:
         type: string
